.option {
    &:hover {
        .options_option {
            font-weight: bold;
            color: #fff;
        }
    }
}
.option > .options, .hunt > .hunts {
    border: none;
    margin-left: 5px;
    border-radius: 5px;
    color: #e7e7e7;
    background-color: #1f1f1f;
    border: solid 1px #2a2a2a;
    &:focus {
        outline: none;
    }
}
.option_name {
    padding: 5px;
}
.evidence, .behaviour, .option, .mode, .hunt {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #151515;
    &:hover {
        background-color: #1f1f1f;
        .evidence, .behaviour, .option, .mode, .hunt {
            &_name {
                color: #fff;
                font-weight: bold;
            }
        }
    }
    &_icon {
        width: 20px;
        height: 20px;
    }
    &_triState {
        margin-top: -3px;
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
        &:focus {
            outline: none;
        }
    }
    label {
        margin-left: 10px;
    }
}
header {
    height: 52px;
    background-color: #151515;
    @media only screen and (min-width: 420px) and (max-width: 620px) {
        height: 25px;
    }
    @media only screen and (min-width: 620px) {
        height: 30px;
    }
}
.menu {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 2;
    background-color: #151515;
    flex-wrap: wrap;
    font-size: small;
    @media only screen and (min-width: 420px) and (max-width: 620px) {
        height: normal;
    }
    @media only screen and (min-width: 621px) {
        font-size: large;
    }
    @media only screen and (min-width: 620px) {
        flex-wrap: nowrap;
    }
    &_btn {
        display: block;
        padding: 5px;
        padding-left: 15px;
        padding-right: 15px;
        &:hover {
            background-color: #1f1f1f;
            .dropbtn {
                color: #fff;
                font-weight: bold;
            }
        }
    }
}
.dropdown {
    display: inline-block;
    &:hover &_content {
        display: block;
    }
    &_content {
        display: none;
        position: absolute;
        transform: translate(-15px, 4px);
        min-width: 160px;
        z-index: 1;
    }
    &_content p {
        padding: 10px 10px;
        text-decoration: none;
        display: block;
    }
    &_content div, &_content select {
        //padding: 10px 10px;
        text-decoration: none;
    }
}
.dropbtn {
    font-size: small;
    @media only screen and (min-width: 420px) and (max-width: 620px) {
        height: normal;
    }
    @media only screen and (min-width: 621px) {
        font-size: x-large;
    }
    border: none;
}