@font-face
{
    font-family: "CMU Serif";
    src: url(cmunrm.ttf);
}
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body
{
    font-family: "CMU Serif";
}
th, td
{
    font-size: large;
    font-weight: 100;
    text-align: center;
    p{
        font-size: large;
        font-weight: 100;
        text-align: center;
    }
}
ul, li {
    text-align: left;
}
.evidence-content-icon {
    width: 10px;
    height: 10px;
    left: 0px;
    right: 0px;
}
.options {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
.ghost {
    &-strenght, &-weakness {
        max-width: 250px;
    }
    &-result, &-table-element {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
    &-evidence-item {
        margin: 0;
        padding: 0;
    }
}