@font-face {
  font-family: "CMU Serif";
  src: url(../fonts/cmunrm.ttf);
}
body, html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "CMU Serif";
  background-color: #0d0d0d;
  color: white;
}

footer {
  text-align: center;
}

header {
  text-align: center;
  padding-bottom: 10px;
  background-color: #0d0d0d;
  color: white;
}
header h1, header h2 {
  margin-top: 0;
  margin-bottom: 0;
}
header h1 {
  font-size: 45px;
}
@media only screen and (min-width: 610px) and (max-width: 739px) {
  header h1 {
    font-size: 60px;
  }
}
@media only screen and (min-width: 740px) {
  header h1 {
    font-size: 75px;
  }
}

select {
  border: 0 !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 15px;
  padding: 5px;
  text-indent: 0.01px;
  text-overflow: "";
  background-color: #6e6e6e;
  color: white;
}

#options {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #0d0d0d;
  color: white;
}

#ghost-result {
  width: 100%;
  border-spacing: 5px;
  max-width: 1100px;
  margin: auto;
}

.italic {
  font-style: italic;
}

.selectionables {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: auto;
}
@media only screen and (min-width: 610px) {
  .selectionables {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.mod {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 150px;
}

.evidences {
  width: 280px;
}
.behaviours {
  width: 310px;
}

.evidence {
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.evidence-title {
  text-align: center;
}
.evidence-icon {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-bottom: -6px;
}
.evidence-name {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  margin-bottom: 5px;
  font-weight: normal;
}
.evidence-name:hover {
  font-weight: bold;
}
.evidence-triState {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.behaviour {
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.behaviour-title {
  text-align: center;
}
.behaviour-name {
  margin-bottom: 5px;
  font-weight: normal;
}
.behaviour-name:hover {
  font-weight: bold;
}
.behaviour-triState, .behaviour-dualState {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
}

#behaviour-hunt label {
  display: block;
  white-space: nowrap;
  text-align: right;
  margin-right: 5px;
}

.mode {
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.mode-title {
  text-align: center;
}
.mode-name {
  margin-bottom: 5px;
  font-weight: normal;
}
.mode-name:hover {
  font-weight: bold;
}
.mode-dualState {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.ghost-name {
  max-width: 120px;
  text-align: center;
}

.ghost-strenght {
  max-width: 450px;
  text-align: center;
  color: #ca1010;
}

.ghost-weakness {
  max-width: 450px;
  text-align: center;
  color: #3d3ae4;
}

.ghost-description h4 {
  margin-top: 5px;
  margin-bottom: 0px;
  text-decoration: underline;
}
.ghost-description div {
  margin: 0;
  padding: 0;
}
.ghost-description em p {
  margin-top: 5px;
  margin-bottom: 0px;
}
.ghost-description em {
  letter-spacing: 1px;
}
.ghost-description div > p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.ghost-evidence {
  padding-top: 0px;
  padding-bottom: 20px;
}

.ghost-table-underline {
  text-align: center;
}

.sound-display {
  border-radius: 25px;
}

#ghost-result, .ghost-table-underline, .ghost-table-row-underline {
  border-bottom: dashed #e58fe1;
}