$darkTheme: true !default;
$lightTheme: false !default;


$primary-bgColor: #e6e6e6 !default;
$primary-dropColor: #d4d4d4 !default;
$primary-color: #353535 !default;
$table-lineColor: #e58fe1 !default;
$force-color: #ca1010 !default;
$weakness-color: #3d3ae4 !default;

$desktopMinWidth: 740px;
$tabletMaxWidth: ($desktopMinWidth - 1px);

$tabletMinWidth: 610px;

@if $darkTheme {
    $primary-bgColor: darken($primary-bgColor, 85%);
    $primary-dropColor: darken($primary-dropColor, 40%);
    $primary-color: lighten($primary-color, 85%);
}

@font-face
{
    font-family: "CMU Serif";
    src: url(../fonts/cmunrm.ttf);
}
@mixin user-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
@mixin weightTransition {
    margin-bottom: 5px;
    font-weight: normal;
    &:hover {
        font-weight: bold;
    }
}


body, html {
    margin: 0;
    padding: 0;
}
body {
    font-size: 18px;
    font-family: "CMU Serif";
    background-color: $primary-bgColor;
    color: $primary-color;
}
footer {
    text-align: center;
}
header {
    text-align: center;
    padding-bottom: 10px;
    background-color: $primary-bgColor;
    color: $primary-color;
    h1, h2 {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        font-size: 45px;
        @media only screen and (min-width: $tabletMinWidth) and (max-width: $tabletMaxWidth) {
            font-size: 60px;
        }
        @media only screen and (min-width: $desktopMinWidth) {
            font-size: 75px;
        }
    }
}
select {
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 15px;
    padding: 5px;
    text-indent: 0.01px;
    text-overflow: "";
    background-color: $primary-dropColor;
    color: $primary-color;
}

#options {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: $primary-bgColor;
    color: $primary-color;
}
#ghost-result {
    width: 100%;
    border-spacing: 5px;
    max-width: 1100px;
    margin: auto;
}

.italic {
    font-style: italic;
}

.selectionables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    // Tablet and higher
    @media only screen and (min-width: $tabletMinWidth) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.mod {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 150px;
}
.evidences {
    width: 280px;
    @media only screen and (min-width: $tabletMinWidth) and (max-width: $tabletMaxWidth) {

    }
    @media only screen and (min-width: $desktopMinWidth) {
        
    }
}
.behaviours {
    width: 310px;
}
.evidence {
    width: 100%;
    @include user-select;
    &-title {
        text-align: center;
    }
    &-icon {
        margin: 0;
        padding: 0;
        width: 20px;
        height: 20px;
        margin-bottom: -6px;
    }
    &-name {
        @include user-select;
        @include weightTransition;
    }
    &-triState {
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
    }
}
.behaviour {
    width: 100%;
    @include user-select;
    &-title {
        text-align: center;
    }
    &-name {
        @include weightTransition;
    }
    &-triState, &-dualState {
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
    }
}
#behaviour-hunt {
    label {
        display: block;
        white-space: nowrap;
        text-align: right;
        margin-right: 5px;
    }
}
.mode {
    width: 100%;
    @include user-select;
    &-title {
        text-align: center;
    }
    &-name {
        @include weightTransition;
    }
    &-dualState {
        width: 20px;
        height: 20px;
        background-color: rgba(0, 0, 0, 0);
    }
}

.ghost-name {
    max-width: 120px;
    text-align: center;
}
.ghost-strenght {
    max-width: 450px;
    text-align: center;
    color: $force-color;
}
.ghost-weakness {
    max-width: 450px;
    text-align: center;
    color: $weakness-color;
}
.ghost-description {
    h4 {
        margin-top: 5px;
        margin-bottom: 0px;
        text-decoration: underline;
    }
    div {
        margin: 0;
        padding: 0;
    }
    em p {
        margin-top: 5px;
        margin-bottom: 0px;
    }
    em {
        letter-spacing: 1px;
    }
    div > p {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 5px;
    }
}
.ghost-evidence {
    padding-top: 0px;
    padding-bottom: 20px;
}
.ghost-table-underline {
    text-align: center;
}
.sound-display {
    border-radius: 25px;
}
#ghost-result, .ghost-table-underline, .ghost-table-row-underline {
    border-bottom: dashed $table-lineColor;
}