@font-face {
  font-family: "CMU Serif";
  src: url(cmunrm.ttf);
}
body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "CMU Serif";
}

th, td {
  font-size: large;
  font-weight: 100;
  text-align: center;
}
th p, td p {
  font-size: large;
  font-weight: 100;
  text-align: center;
}

ul, li {
  text-align: left;
}

.options {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.ghost-strenght, .ghost-weakness {
  max-width: 250px;
}
.ghost-result, .ghost-table-element {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}